# Google & GitHub OAuth Integration Client Keys
VITE_GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
VITE_GITHUB_CLIENT_ID=your_github_client_id

# Backend URL (Not required in development since proxy is active in vite.config.js,
# but required in production. e.g., https://flashman-api.onrender.com)
VITE_BACKEND_URL=
